@font-face {
  font-family: 'Impact', sans-serif;
  src: url(/fonts/impact.woff2);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
.big-container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  max-width: 925px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #040404;
  font-family: 'Roboto Condensed', sans-serif;
}
//!----- header -----
//?--------------------------------------------- header ---------------------------------------------------------
.header {
  padding-top: 25px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}
.menu-left {}
.menu-item {}
.menu-link {
  font-size: 16px;
  color: #363636;
}
.logo {}
.logo-img {}
.menu-right {}
//?--------------------------------------------- header -- media ------------------------------------------------
.header {}
.nav {}
.menu-list {}
.menu-left {}
.menu-item {}
.menu-link {}
.logo {}
.logo-img {}
.menu-right {}
//?--------------------------------------------- header -- end --------------------------------------------------
//!----- promo -----
//?--------------------------------------------- promo ---------------------------------------------------------
.main {}
.promo {
  background-image: url(/images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // margin-top: 75px;
  &__inner {
    min-height: 100vh;
    text-align: center;
    padding-top: 100px;
    position: relative;
  }
  &__title {
    padding-left: 70px;
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    max-width: 387px;
    margin: 0 auto 10px;
    span {
      display: block;
      font-family: 'Impact', sans-serif;
      font-size: 34px;
      text-align: center;
      color: #9F6B08;
      margin: 10px 0;
    }
  }
  &__text {
    font-size: 16px;
    color: #363636;
    margin-bottom: 10px;
  }
  &__arrow {
    // display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 30px;
    // padding-bottom: 30px;
    transform: translate(-50%);
    // margin-bottom: 30px;
  }
}
//?--------------------------------------------- promo -- media ------------------------------------------------
.main {}
.promo {
  &__inner {}
  &__title {}
  &__subtitle {}
  &__text {}
}
//?--------------------------------------------- promo -- end --------------------------------------------------
//!----- info -----
//?--------------------------------------------- info ---------------------------------------------------------
.info {
  padding-bottom: 50px;
  &__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__part-textbox {
    display: flex;
    gap: 0 20px;
    justify-content: space-between;
    // margin-bottom: 30px;
    b {
      font-weight: 700;
    }
  }
  &__text {
    margin-bottom: 30px;
    flex-basis: 440px;
    // width: 50%;
  }
  &__part-img {
    // width: 100%;
    object-fit: cover;
    // text-align: center;
  }
  &__content {
    flex-basis: 415px;
  }
  &__part--third &__text {
    max-width: 377px;
  }
  &__part--third {
    padding-top: 65px;
  }
  &__part--second &__text {
    max-width: 352px;
  }
  &__part--second &__text:last-child {
    margin-bottom: 0px;
  }
  &__part--first {
    display: block;
  }
  &__table {
    flex-basis: 450px;
    // position: relative;
    // top: 20px;
    border-top: 1px solid #040404;
    border-bottom: 1px solid #040404;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: -20px;
    //   left: 0;
    //   width: 100%;
    //   border-top: 1px solid #040404;
    // }
    td {
      padding-bottom: 20px;
    }
    tr:first-child {
      td {
        padding-top: 20px;
      }
    }
  }
}
//?--------------------------------------------- info -- media ------------------------------------------------
.info {
  &__part {}
  &__title {}
  &__part-textbox {}
  &__text {}
  &__part-img {}
  &__content {}
  &__table {}
}
//?--------------------------------------------- info -- end --------------------------------------------------
//!----- track -----
//?--------------------------------------------- track ---------------------------------------------------------
.track__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.track {
  background: url(/images/track-bg.jpg) center/cover no-repeat;
  &__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 434px;
  }
  &__img {
    max-width: 742px;
    margin: auto 0 0 auto;
  }
}
.container {}
//?--------------------------------------------- track -- media ------------------------------------------------
.track {
  &__title {}
  &__text {}
  &__img {}
}
//?--------------------------------------------- track -- end --------------------------------------------------
//!----- evo -----
//?--------------------------------------------- evo ---------------------------------------------------------
.evo {
  font-size: 14px;
  margin-bottom: 100px;
}
.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #FFFFFF;
  &__inner {
    position: relative;
  }
  &__inner::before {
    content: '';
    position: absolute;
    background-image: url(/images/evo-deck-1.svg);
    width: 185px;
    height: 213px;
    top: 217px;
    left: -162px;
  }
  &__inner::after {
    content: '';
    position: absolute;
    background-image: url(/images/evo-deck-2.svg);
    width: 498px;
    height: 572px;
    top: 290px;
    left: -50px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }
  &__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    // color: #FFF;
    flex-basis: 50%;
  }
  &__infobox {
    flex-basis: 50%;
  }
  &__text {
    // color: #FFF;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__img {
    display: block;
    margin: 200px auto 60px;
    position: relative;
    z-index: 1;
  }
}
.evo-black__desc-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  dd {
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}
.evo-while {
  &__inner {
    padding-top: 125px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(/images/evo-deck-3.png);
      width: 274px;
      height: 257px;
      top: -23px;
      left: 363px;
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(/images/evo-deck-4.png);
      width: 324px;
      height: 311px;
      top: 124px;
      right: -21px;
    }
  }
  &__text:first-child {
    max-width: 285px;
  }
  &__text:nth-child(2) {
    max-width: 437px;
  }
  &__text:nth-child(3) {
    max-width: 590px;
  }
  &__text:not(:last-child) {
    margin-bottom: 30px;
  }
  &__video {
    margin-top: 100px;
    background: url(/images/evo-video.png)center/cover no-repeat;
    height: 263px;
    max-width: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      // display: block;
      // margin: 0 auto;
    }
    span {
      display: block;
      color: #fff;
    }
  }
  &__link {}
}
//?--------------------------------------------- evo -- media ------------------------------------------------
.evo {}
.evo-black {
  &__inner {}
  &__info {}
  &__title {}
  &__infobox {}
  &__text {}
  &__img {}
}
.container {}
.evo-black--desc-list {}
.evo-while {
  &__inner {}
  &__text {}
  &__video {}
  &__link {}
}
//?--------------------------------------------- evo -- end --------------------------------------------------
//!----- blog -----
//?--------------------------------------------- blog ---------------------------------------------------------
.blog {
  margin-bottom: 100px;
  &__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    color: #040404;
    margin-bottom: 30px;
  }
  &__slider {
    padding: 50px 0 100px;
    position: relative;
  }
  &__item {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: auto;
  }
  &__item-img {
    margin-bottom: 20px;
  }
  &__item-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #040404;
    min-height: 45px;
    margin-bottom: 10px;
  }
  &__item-text {
    margin-bottom: 10px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &__item-link {
    font-size: 12px;
    color: #363636;
  }
  &__button {
    // position: absolute;
    top: 15px;
    // left: 50%;
    cursor: pointer;
  }
}
.swiper {}
.swiper-wrapper {}
.swiper-slide {}
.swiper-button-prev {
  // top: 0;
  left: calc(50% - 42px);
}
// .swiper-button-right {
//   left: calc(50% + 12px);
// }
.swiper-button-next {
  // top: 0;
  left: calc(50% + 15px);
}
.swiper-button-prev::after {
  display: none;
  // left: calc(50% + 12px);
}
.swiper-button-next::after {
  display: none;
  // left: calc(50% + 12px);
}
.blog {
  &__quote {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__quote-box {
    flex-basis: 434px;
  }
  &__quote-img {
    flex-basis: 434px;
  }
}
.container {}
.blockquote {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__name {
    font-size: 12px;
    color: #040404;
    margin-bottom: 10px;
    span {
      display: block;
      font-weight: 700;
      color: #9F6B08;
      margin-bottom: 3px;
    }
  }
  &__text {
    margin-top: 10px;
    font-style: italic;
  }
}
//?--------------------------------------------- blog -- media ------------------------------------------------
.blog {
  &__title {}
  &__slider {}
  &__item {}
  &__item-img {}
  &__item-title {}
  &__item-text {}
  &__item-link {}
}
.container {}
.swiper {}
.swiper-wrapper {}
.swiper-slide {}
.swiper-button-prev {}
.swiper-button-next {}
//?--------------------------------------------- blog -- end --------------------------------------------------